---
import Nevbar from "../Components/Nevbar.astro";
import Hero from "../Components/Hero.astro";
import Skills from "../Components/Skills.astro";
import PorjectHero from "../Components/ProjectHero.astro";
import Contacts from "../Components/Contacts.astro";
import ResumeButton from "../Components/Resumebutton.astro";
import About from "../Components/About.astro";
import Projectcontant from "../Components/Projectcontant.astro";
---

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LokeshRawat.dev</title>
  </head>
  <body class="text-gray-800">
    <Nevbar />
    <!-- Hero portion  -->
    <Hero />
    <!-- download my resume  -->
    <ResumeButton />
    <!-- skills  -->
    <Skills />
    <!-- my projects -->
    <PorjectHero />
    <Projectcontant />
    <!-- More about me -->
    <About />
    <!-- contact and socials -->
    <Contacts />
  </body>
</html>
