---
import Nevbar from "../Components/Nevbar.astro";
import Hero from "../Components/Hero.astro";
import Skills from "../Components/Skills.astro";
import PorjectHero from "../Components/ProjectHero.astro";
import Contacts from "../Components/Contacts.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LokeshRawat.dev</title>
  </head>
  <body class="text-gray-800">
    <Nevbar />
    <!-- Hero portion  -->
    <Hero />
    <!-- download my resume  -->
    <div class="items-center flex justify-center my-20">
      <button class="bg-green-600 p-5 border-2 border-gray-900 font-mono font-bold text-xl drop-shadow-md hover:scale-105 transition-all delay-100  ">
        DOWNLOAD MY Résumé 
      </button>
    </div>
    <!-- skills  -->
    <Skills />
    <!-- my projects -->
    <PorjectHero />



    <Contacts />
      </body>
</html>
