---
import Nevbar from "../Components/Nevbar.astro";
import Hero from "../Components/Hero.astro";
import Skills from "../Components/Skills.astro";
import PorjectHero from "../Components/ProjectHero.astro";
import Contacts from "../Components/Contacts.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LokeshRawat.dev</title>
  </head>
  <body class="text-gray-800">
    <Nevbar />
    <!-- Hero portion  -->
    <Hero />
    <!-- skills  -->
    <Skills />
    <!-- my projects -->
    <PorjectHero />

    <Contacts />
      </body>
</html>
