<nav
  class="flex items-center justify-center text-xl font-bold py-4 mb-44 w-full bg-sky-50 drop-shadow-xl"
>
  <div
    class="flex justify-center lg:justify-between items-center min-w-0 shrink-0 rounded-full w-3/4 px-16 gap-1"
  >
    <div class="logo text-3xl font-sans">Lokeshrawat.dev</div>
    <ul
      class="justify-between p-0 list-none items-center w-fit min-w-0 text-center hidden lg:flex gap-1"
    >
      <li class="p-2"><a href="#home">Home</a></li>
      <li class="p-2"><a href="#skills">Skills</a></li>
      <li class="p-2"><a href="#project">Projects</a></li>
      <li class="p-2"><a href="#about">About</a></li>
      <li class="p-2"><a href="#Contact">Contact</a></li>
    </ul>
  </div>
</nav>
