<div
  id="project"
  class="flex items-center justify-center text-xl font-bold min-w-0 shrink-0 px-16 gap-1 w-full my-44"
>
  <div id="project-text-contant" class="mx-10">
    <div id="prject-heading" class="text-5xl">
      <h1>MY Projects</h1>
    </div>
    <br />
    <div id="project-para" class="">
      <p>I worked on many projects <br> but <br> here are some of them</p>
    </div>
    <div id="project-para" class="" >
      <p>I worked on many projects <br> but <br> here are some of them</p>
    </div>
  </div>
 <div id="hero-image" class="shrink-0 border-4 border-gray-900 drop-shadow-xl rounded-full w-80 h-80 overflow-hidden hover:scale-110 transition-all ease-in delay-100 hover:bg-green-400 p-2 hover:shadow-2xl ">
    <img
      src="/Lokesh.jpeg"
      class=" shrink-0  w-full h-auto object-cover scale-125 translate-y-4 transform   "
      alt="lokesh image"
    />
  </div>
</div>
