<div id="project-contant-list" class="my-20">
  <div
    id="project-Content"
    class="flex flex-col justify-around items-center my-5 grow-0 gap-7 text-xl
      font-bold font-mono text-center"
  >
    <div id="peoject-tital" class="text-3xl">
      <h1>PC Price comparison web app</h1>
    </div>
    <div id="project-image">
      <img src="" alt="" />
    </div>
    <div id="project-para" class="font-thin">
      website for PC parts comparison <br />
      Implemented web scraping to gather real-time price from multiple e-commerce
      websites.
      <br />
      create responsive and visually appealing frountend. <br />
      Created RESTful api <br />
      Technologies Used: React.js, Tailwind CSS, Express.js, Node.js, Web Scraping.
      <br />
              GitHub Repository →front-end -> <a href="https://github.com/BlueEnd07/ProductPRice" target="_blank"></a> <br />
              GitHub Repository →back-end/api -> <a href="https://github.com/BlueEnd07/js-web-scrapper" target="_blank"></a> <br />
      Live Site→ WORKING ON NEW UPDATE
      <br />
    </div>
  </div>

  <!-- 2nd project -->

  <div
    id="project-Content"
    class="flex flex-col justify-around items-center my-10 grow-0 gap-7 text-xl
      font-bold font-mono text-center "
  >
    <div id="peoject-tital" class="text-3xl">
      <h1>Web base Mini game website</h1>
    </div>
    <div id="project-image" class="inline-block mx-auto w-1/2 border-4 rounded-md shadow-2xl   ">
      <img src= "/MiniGame.png" alt="image of my project website" class=" " />
    </div>
    <div id="project-para" class="font-thin">
      Small web app, made with friends to showcase our web games <br />
      Create 2 out of 6 games, box runner and Dino run <br />
      Make responsive UI with the help of tailwind CSS,
      <br />
      hosted on vercel <br />
      Optimize website so it will load faster <br />
      GitHub Repository → <a href="https://github.com/BlueEnd07/Minigeemu-react" target="_blank">MiniGeemu.github</a> <br />
      live link → <a href="http://minigeemu-home.vercel.app/" target="_blank">Minigeemu.app</a>
    </div>
  </div>

  <!-- end  -->
</div>
