<div
  id="project"
  class="flex items-center justify-center text-xl font-bold min-w-0 shrink-0 px-16 gap-1 w-full my-24"
>
  <div id="project-text-contant" class="mx-10">
    <div id="prject-heading" class="text-5xl">
      <h1>MY Projects</h1>
    </div>
  </div>
</div>
