<div
  id="ProjectHero"
  class="flex items-center justify-center text-xl font-bold my-4 min-w-0 shrink-0 px-16 gap-1 w-full mt-20"
>
  <div id="project-text-contant" class="mx-10">
    <div id="prject-heading" class="text-5xl">
      <h1>MY Projects</h1>
    </div>
    <br />
    <div id="project-para">
      <p>I worked on many projects <br> but <br> here are some of them</p>
    </div>
  </div>
  <div id="project-image" class="shrink-0">
    <img
      src="/Lokesh.jpeg"
      class="h-80 rounded-full shrink-0 border-4 border-gray-800"
      alt="lokesh image"
    />
  </div>
</div>
