<div id="skills" class="mt-20 w-full flex justify-center items-center min-w-0">
  <div
    id="web-skills"
    class="flex flex-col items-center border-4 border-gray-900 rounded-2xl p-12"
  >
    <div
      id="skills-heading"
      class="text-gray-800 text-4xl font-mono font-bold mb-5"
    >
      <u>Web-Skills</u>
    </div>
    <div id="skill-logos">
      <ul class="grid grid-cols-3 gap-7">
        <li>
          <img src="https://skillicons.dev/icons?i=html,css" alt="html,css" />
        </li>
        <li>
          <img src="https://skillicons.dev/icons?i=js,ts" alt="js,ts" />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=react,tailwindcss"
            alt="React, TailwindCSS"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=astro,vue"
            alt="React, TailwindCSS"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=mysql,mongodb"
            alt="React, TailwindCSS"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=supabase,firebase"
            alt="React, TailwindCSS"
          />
        </li>
      </ul>
    </div>
  </div>
</div>

