<div
  id="skills"
  class="mt-20 w-full flex flex-col gap-4 justify-center items-center min-w-0 my-44"
>
  <div  class="text-6xl font-mono font-bold">
  <h1>Skills</h1>
  </div>
  <div
    id="web-skills"
    class="flex flex-col  items-center border-4 border-gray-900 rounded-2xl p-12"
  >
    <div
      id="skills-heading"
      class="text-gray-800 text-3xl font-mono font-bold mb-5"
    >
      <u>Web-Skills</u>
    </div>
    <div id="skill-logos">
      <ul class="grid grid-cols-3 gap-7">
        <li>
          <img src="https://skillicons.dev/icons?i=html,css" alt="html,css" />
        </li>
        <li>
          <img src="https://skillicons.dev/icons?i=js,ts" alt="js,ts" />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=react,tailwindcss"
            alt="React, TailwindCSS"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=astro,vue"
            alt="astro,vue"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=mysql,mongodb"
            alt="mysql,mongodb"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=supabase,firebase"
            alt="supabase,firebase"
          />
        </li>
      </ul>
    </div>
  </div>
  <div
    id="other-tech-skills"
    class="flex flex-col items-center border-4 border-gray-900 rounded-3xl p-12"
  >
    <div
      id="skills-heading"
      class="text-gray-800 text-4xl font-mono font-bold mb-5"
    >
      <u>Other-tech-Skills</u>
    </div>
    <div id="skill-logos">
      <ul class="grid grid-cols-3 gap-7">
        <li>
          <img
            src="https://skillicons.dev/icons?i=linux,neovim"
            alt="linux,neovim"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=git,github"
            alt="git,github"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=azure,aws"
            alt="azure,aws" 
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=java,python"
            alt="java,python"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=django,go"
            alt="django , go"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=nextjs,postman"
            alt="nest js , postman"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=docker,jenkins"
            alt="docjet,jenkins"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=blender,godot"
            alt="blender , godot"
          />
        </li>
        <li>
          <img
            src="https://skillicons.dev/icons?i=notion,obsidian"
            alt="notion , obsidian"
          />
        </li>
      </ul>
    </div>
  </div>
</div>

